.classpath
.project
.settings/
.externalToolBuilders/
*.releaseBackup
*.class
*.log
*.zip
*.jar
*.tar.gz
release.properties
AdjustTime.ini
/target/
/src/test/data/*~
/src/test/data/*.log
/src/test/data/cameradata/
/src/test/data/output
nb*.xml
Thumbs.db
/nbproject/
